.App {
  text-align: center;
  margin-top: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* General styles for text elements */
body, label, .disclaimer, .expl-message {
  font-size: 16px; /* Standard font size for most text */
  color: #8a1a1e; /* Consistent color */
}

/* Specific styles for header and special text */
.App h1 {
  font-size: 24px; /* Larger font size for the header */
  color: #8a1a1e;
}

.encoded-text {
  font-size: 18px; /* Slightly larger for emphasis */
  color: #8a1a1e;
  margin-bottom: 5px;
}

.qr-bottom-text {
  font-size: 18px; /* Slightly larger for emphasis */
  color: #8a1a1e;
  margin-top: 5px;
  white-space: nowrap;
}

/* Input and button styles */
label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px auto;
  width: 100%;
  max-width: 300px;
}

input[type="text"],
input[type="number"],
input[type="color"] {
  padding: 10px;
  margin-top: 5px;
  width: 100%;
  max-width: 280px;
  font-size: 16px;
}

.button-group {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin: 10px auto;
  width: 100%;
  max-width: 300px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  margin-top: 10px;
  
  max-width: 280px;
}

.color-picker-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 10px auto;
}

.color-display {
  width: 24px;
  height: 24px;
  background-color: #8a1a1e;
  margin-left: 10px;
  border: 1px solid #ccc;
}

/* Responsive adjustments for mobile devices */
@media (max-width: 600px) {
  body, label, .disclaimer, .expl-message {
    font-size: 14px;
  }

  input[type="text"],
  input[type="number"],
  input[type="color"] {
    font-size: 16px;
    padding: 12px;
    max-width: 260px;
  }
}

.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px auto;
  position: relative;
}

.qr-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.qr-overlay img {
  display: block;
  width: 30px;
  height: 30px;
}

.disclaimer {
  margin-top: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  word-wrap: break-word;
}

.disclaimer a {
  color: #007bff;
  text-decoration: none;
}

.disclaimer a:hover {
  text-decoration: underline;
}

